@model LojaDeJogos.Models.Cliente
@{
    ViewBag.Title = "CadCli";
}

<h2>Dados Cadastrados com sucesso</h2>
<br />
<p>@Html.ActionLink("Voltar", "Cliente")</p>
<p>@Html.ActionLink("Lista De clientes", "ListaCliente")</p>

