@model LojaDeJogos.Models.Funcionario
    @{
        ViewBag.Title = "Cadastro de Funcionario";
    }
    <h2>Dados Cadastrados com sucesso</h2>
    <br />
    <p>@Html.ActionLink("Voltar", "Funcionario")</p>
    <p>@Html.ActionLink("Lista De Funcionarios", "ListarFunc")</p>

